*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgb(214, 56, 235), rgb(36, 155, 155));
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 10%;
}
.nav{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.nav h3{
    color: rgb(38, 113, 187);
    margin-right: 10px;
}

.nav a{
    text-decoration: none;
    margin-left: 20px;
}
.container{
    display: flex;
    flex-direction: column;
}

.container input{
    background: transparent;
    margin-top: 15px;
    color: aqua;
    max-width: 250px;
    border: transparent;
    border-bottom:2px solid rgb(74, 34, 107) ;
}

.container input:hover{
    color: rgb(38,113, 187);
}

.container button{
    width: 100px;
    background: transparent;
    border: 2px solid rgb(74, 34, 107);
}

.container button:hover{
    border: 2px solid rgb(38, 113, 187);
    color: aqua;
}